.top-nav {
  display: flex;
  height: 100px;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.side-nav {
  background-color: aqua;
  height: 100%;
}

.product-details {
  background-color: aquamarine;
}

.user-info {
  background-color: bisque;
}
